################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/azureservicebus.amqp.console/config
/bin/Debug/netcoreapp3.1
/obj
/.vs/azureservicebus.amqp.console/v16
/.vs
/appSettings - Kopi -backup.json
